@use '../../theme/colors.scss' as *;
@use '../../theme/sizes.scss' as *;

.auth-wrapper {
    .auth-header-wrapper {
        background-color: $light;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 10px 25px;
            font-size: 20px;
            text-decoration: none;
            color: inherit;
            .logo {
                width: 100px;
                height: 80px;
            }
        }

        div {
        }
    }
}
