@use '../../theme/colors.scss' as *;
@use '../../theme/sizes.scss' as *;

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        height: 300px;
        width: 350px;
        background-color: $red-300;
    }
}
